
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
}

/*--------------------------------------*/

.sprite {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-checkbox-of {
  width: 23px;
  height: 23px;
  background-position: -30px -30px;
}

.sprite-checkbox-on {
  width: 27px;
  height: 23px;
  background-position: -113px -30px;
}

.sprite-close-cross {
  width: 21px;
  height: 21px;
  background-position: -200px -30px;
}

.sprite-fb-icon {
  width: 12px;
  height: 22px;
  background-position: -200px -111px;
}

.sprite-fb-icon-down {
  width: 12px;
  height: 22px;
  background-position: -30px -193px;
}

.sprite-icon-basket {
  width: 15px;
  height: 15px;
  background-position: -102px -193px;
}

.sprite-insta-icon {
  width: 21px;
  height: 21px;
  background-position: -177px -193px;
}

.sprite-insta-icon-down {
  width: 21px;
  height: 21px;
  background-position: -281px -30px;
}

.sprite-radio-off {
  width: 25px;
  height: 25px;
  background-position: -272px -111px;
}

.sprite-radio-on {
  width: 25px;
  height: 25px;
  background-position: -258px -196px;
}

.sprite-sort-down {
  width: 9px;
  height: 9px;
  background-position: -30px -281px;
}

.sprite-sort-up {
  width: 9px;
  height: 9px;
  background-position: -99px -281px;
}

.sprite-vk-icon {
  width: 26px;
  height: 15px;
  background-position: -168px -281px;
}

.sprite-vk-icon-down {
  width: 26px;
  height: 15px;
  background-position: -254px -281px;
}

/*=======================index.html=====================*/

img {
  max-width: 100%;
  height: auto;
}

.section {
  min-width: 1200px;
}

.header {
  background-color: #eeeeee;
}

.section-inner {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-inner {
  border-top: 1px solid transparent;
}

.section-inner::after {
  display: table;
  content: "";
  clear: both;
}

.header-logo {
  float: left;
  width: 160px;
  height: 65px;
  margin-top: 48px;
  margin-right: 40px;
}

.header-logo img {
  width: 161px;
}

.header-logo-catalog:hover {
  opacity: 0.8;
}

.header-logo-catalog:active {
  opacity: 0.3;
}

/*=====================main-navigation========================*/

.main-navigation {
  float: left;
  width: 602px;
  text-align: right;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}

.main-navigation a {
  display: block;
  margin-top: 74px;
  margin-left: 47px;
  color: #000000;
  text-decoration: none;
}

.main-navigation-contact {
  margin-left: 1px;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation .active-3 {
  position: relative;
}

.main-navigation .active-3::after {
  position: absolute;
  bottom: -5px;
  right: 0px;
  content: "";
  width: 74px;
  height: 2px;
  background-color: #fb565a;
}

.active-3 a:hover {
  color: #000000;
}
/*==========================================================*/

.user-block {
  float: right;
  max-width: 160px;
  margin-top: 74px;
}

.login {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}

.login:hover {
  color: #fb565a;
}

.login:active {
  color: rgba(0, 0, 0, 0.3);
}

.login::before {
  position: absolute;
  top: 8px;
  left: 10px;
  content: "";
  width: 15px;
  height: 15px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -102px -193px;
  opacity: 0.3;
}

/*======================slaider=======================*/

.slider {
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.slider-inner {
  position: relative;
}

.slide-toggle {
  display: none;
}

.slider-dots {
  position: absolute;
  top: 322px;
  left: 549px;
  z-index: 100;
  width: 105px;
  height: 10px;
  line-height: 0;
  text-align: center;
}

.slider-dots label {
  display: inline-block;
  vertical-align: top;
  width: 4px;
  height: 4px;
  margin: 0 12px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 5px #ffffff;
}

.slider-toggle-1:checked ~ .slider-dots label:nth-child(1),
.slider-toggle-2:checked ~ .slider-dots label:nth-child(2),
.slider-toggle-3:checked ~ .slider-dots label:nth-child(3) {
  border-color: #c1c1c1;
}

.slider-item {
  display: none;
}

.slider-toggle-1:checked ~ .slider-list .slider-item-1,
.slider-toggle-2:checked ~ .slider-list .slider-item-2,
.slider-toggle-3:checked ~ .slider-list .slider-item-3 {
  display: block;
}

.slider-item-image {
  float: right;
  width: 760px;
  height: 431px;
}

/*========================text slider=======================*/

.slider-item-text {
  padding-top: 78px;
}

.statement {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
}

.declaration {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
}

.button {
  display: inline-block;
  vertical-align: top;
  padding-top: 13px;
  padding-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 18px;
  color: #ffffff;
  background-color: #fb565a;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  border-top: 3px solid transparent;
  border-radius: 2px;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  border-top-color: #c13135;
}

.slider-button {
  width: 240px;
  margin-top: 39px;
}

.slider-item-text-2,
.slider-item-text-3 {
  position: absolute;
}

/*======================directions=========================*/

.directions-inner::after {
  display: block;
  content: "";
  clear: both;
  height: 2px;
  background: #eeeeee;
}

.features {
  float: left;
  width: 300px;
  margin-right: 100px;
  margin-bottom: 80px;
}

.features:last-child {
  margin-right: 0;
}

.features-title {
  margin-top: 21px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.features p {
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
}

.features .button {
  width: 160px;
}

.btn-apps {
  background-color: #00ca74;
}

.btn-apps:hover {
  background-color: #00bc6c;
}

.btn-apps:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
  border-top-color: #009958;
}

.btn-presentations {
  background-color: #efc84a;
}

.btn-presentations:hover {
  background-color: #eab534;
}

.btn-presentations:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
  border-top-color: #ce961f;
}

/*===================company-description============*/

.company-description-inner::after {
  display: block;
  content: "";
  clear: both;
  height: 2px;
  background: #eeeeee;
}

.index-content-left {
  float: left;
  width: 660px;
  padding-bottom: 49px;
}

.index-content-left .statement {
  margin-top: 74px;
  margin-bottom: 33px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.dash {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 4px;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 8px;
  background: #000000;
}

.index-content-left .declaration {
  margin-bottom: 39px;
}

.subtitle {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.list-description ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  color: #283136;
  list-style: none;
}

.list-description li {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.list {
  margin-bottom: 24px;
  padding-left: 36px;
}

.list::before {
  position: absolute;
  top: 11px;
  left: 1px;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

/*==============================content-right===================*/

.index-content-right {
  float: right;
  width: 360px;
}

.index-logo {
  width: 360px;
  height: 208px;
  margin-top: 40px;
  margin-bottom: 36px;
}

.index-content-right .subtitle {
  margin-bottom: 41px;
  padding-left: 3px;
  text-align: center;
}

.list-description-right::after {
  display: table;
  content: "";
  clear: both;
  margin-bottom: 75px;
}

.block {
  float: left;
  width: 119px;
}

.block-upper {
  margin-bottom: 19px;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.block-upper span {
  vertical-align: top;
  font-size: 27px;
  font-weight: 700;
  line-height: 27px;
}

.block-lower {
  margin-bottom: 1px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #283136;
}

/*=============================partners========================*/

.partners {
  margin-bottom: 80px;
}

.partners-inner::after {
  display: block;
  content: "";
  clear: both;
  height: 2px;
  margin-top: 40px;
  background-color: #eeeeee;
}

.partner {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.partner-1 {
  margin-left: 31px;
  margin-right: 93px;
  padding-top: 62px;
}

.partner-2 {
  margin-right: 99px;
  padding-top: 46px;
}

.partner-3 {
  margin-right: 117px;
  padding-top: 65px;
}

.partner-4 {
  padding-top: 52px;
}

.partner-1::after,
.partner-2::after,
.partner-3::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 52px;
  background: #eeeeee;
}

.partner-1::after {
  bottom: 18px;
  right: -51px;
}

.partner-2::after {
  bottom: 24px;
  right: -46px;
}

.partner-3::after {
  bottom: 5px;
  right: -58px;
}

.partners-logo {
  opacity: 0.2;
}

.partners-logo-1 {
  width: 199px;
  height: 68px;
}

.partners-logo-2 {
  width: 209px;
  height: 86px;
}

.partners-logo-3 {
  width: 185px;
  height: 52px;
}

.partners-logo-4 {
  width: 173px;
  height: 84px;
}

.partners-logo:hover {
  opacity: 1;
}

.partners-logo:active {
  opacity: 0.1;
}

/*================footer-map========================*/

.section-footer-map {
  height: 416px;
  /*background: #f1efe8 url("../img/map-marker.png") center top no-repeat;*/
  background: #f1efe8;
}

.interactive-map {
  width: 100%;
  height: 416px;
  border: 0;
}

/*================footer-map-inner========================*/

.footer-inner {
  position: relative;
  padding-top: 69px;
  padding-bottom: 69px;
}

.footer-inner::after {
  display: table;
  content: "";
  clear: both;
}

.contact-info {
  position: absolute;
  top: -362px;
  z-index: 5;
  width: 319px;
  padding: 0 50px;
  padding-top: 31px;
  padding-bottom: 47px;
  background: #ffffff;
  box-sizing: border-box;
}

.index-info-title {
  margin-bottom: 23px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.contact-info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #666666;
}

.address {
  margin-bottom: 18px;
}

.contact-tel {
  margin-bottom: 37px;
}

.index-info-button {
  width: 100%;
}

/*====================footer-socials====================*/

.footer-content {
  float: right;
  width: 760px;
  margin-top: 6px;
}

.footer-content .statement {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.footer-content .declaration {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #444444;
}

.footer-socials {
  width: 280px;
  text-align: center;
}

.social-btn {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 11px;
  font-size: 0;
  background: #e1e1e1 url("../img/sprite.png") no-repeat center;
  text-decoration: none;
  border-radius: 50%;
}

.social-btn:hover {
  background-color: #e74246;
}

.social-btn:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
}

.social-btn-vk {
  background-position: -141px -248px;
}

.social-btn-vk:active {
  background-position: -227px -248px;
}

.social-btn-fb {
  background-position: -166px -82px;
}

.social-btn-fb:active {
  background-position: 4px -164px;
}

.social-btn-inst {
  background-position: -147px -163px;
}

.social-btn-inst:active {
  background-position: -251px 0;
}

/*=============================modal-content======================*/

.modal-content {
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 100;
  width: 960px;
  min-height: 590px;
  margin-left: -481px;
  padding-top: 67px;
  padding-left: 100px;
  padding-right: 100px;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  display: none;
}

.modal-content-show {
  display: block;
}

.modal-content-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background: url("../img/sprite.png") no-repeat;
  background-position: -200px -30px;
  border: 0;
  outline: 0;
  cursor: pointer;
  opacity: 0.3;
}

.modal-content-close:hover {
  opacity: 1;
}

.modal-content-close:active {
  opacity: 0.1;
}

/*---------------------------------------------------*/

.modal-content-title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.write-form-field-1 label,
.write-form-field-2 label,
.write-form-field-3 label {
  display: block;
  width: 360px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  overflow: hidden;
}

.write-form input {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 18px;
  color: #444444;
  border: 2px solid #d7dcde;
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
}

.write-form-field-1 input,
.write-form-field-2 input {
  width: 360px;
  min-height: 50px;
  margin-top: 9px;
  margin-bottom: 33px;
  padding: 0 12px;
}

.write-form-field-1 {
  float: left;
}

.write-form-field-2 {
  float: right;
}

.write-form-field-3 {
  clear: both;
  width: 100%;
}

.write-form-field-3 input {
  width: 100%;
  margin-top: 9px;
  padding: 0 12px;
  padding-top: 11px;
  padding-bottom: 85px;
}

.write-info-button {
  width: 260px;
  margin-top: 48px;
}

.write-form input:hover {
  border: 2px solid #b4b9bb;
}

.write-form input:focus {
  border: 2px solid #000000;
}

/*==============================overlay=====================*/

/*.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}*/

/*=======================catalog.html=========================*/

.catalog-directions {
  background-color: #eeeeee;
  box-sizing: border-box;
}

.catalog-subtitle h1 {
  margin: 0px;
  padding: 0px;
  padding-top: 78px;
  padding-bottom: 108px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
}

/*=======================catalog-filter====================*/

.catalog-filter {
  float: left;
  width: 260px;
  min-height: 300px;
  padding-bottom: 30px;
}

.field {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.heading {
  padding: 0px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

/*======================range-filter=================*/

.range-filter {
  width: 260px;
  margin-top: 60px;
  margin-bottom: 59px;
}

.range-controls {
  position: relative;
  margin-top: 52px;
  margin-bottom: 13px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 21px;
  padding-right: 21px;
  background: #eeeeee;
  border-radius: 2px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 139px;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 1px 0 #cccdcd;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  font-size: 16px;
  font-weight: 400;
  color: #283136;
  text-transform: uppercase;
}

.max-price {
  text-align: right;
}

.price-controls input {
  width: 60px;
  margin-left: 8px;
  padding: 8px 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  color: #283136;
  background: #eeeeee;
  border: none;
  text-align: center;
  outline: none;
  border-radius: 2px;
}

/*==========selection-grid  selection-specification=============*/

.field ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.field li {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
}

.selection-grid label,
.selection-specification label {
  color: #283136;
}

.selection-grid legend {
  margin-bottom: 20px;
}

.selection-specification legend {
  margin-bottom: 21px;
}

.selection-grid {
  margin-bottom: 31px;
}

.selection-specification {
  margin-bottom: 29px;
}

.selection-grid input[type="radio"],
.selection-specification input[type="checkbox"] {
  display: none;
}

.login-radio,
.login-checkbox {
  position: relative;
  padding-left: 36px;
  cursor: pointer;
}

.login-radio:hover,
.login-checkbox:hover {
  color: #000000;
}

/*=========================radio  checkbox======================*/

.login-radio::after {
  position: absolute;
  top: -2px;
  left: 0px;
  content: "";
  width: 25px;
  height: 25px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -272px -111px;
  opacity: 0.4;
}

.login-radio:hover::after {
  opacity: 1;
}

.selection-grid input[type="radio"]:checked + .login-radio::after {
  background-position: -258px -196px;
}

.login-checkbox::after {
  position: absolute;
  top: -2px;
  left: 0px;
  content: "";
  width: 27px;
  height: 25px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -30px -30px;
  opacity: 0.4;
}

.login-checkbox:hover::after {
  opacity: 1;
}

.selection-specification input[type="checkbox"]:checked + .login-checkbox::after {
  background-position: -113px -30px;
}

/*===============================.catalog-btn=======================*/

.catalog-btn {
  width: 260px;
  color: #000000;
  background-color: #eeeeee;
}

.catalog-btn:hover {
  background-color: #dfdfdf;
}

.catalog-btn:active {
  border-top-color: #bfbfbf;
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

/*=========================catalog-section=========================*/

.catalog-section {
  float: right;
  width: 760px;
  padding-top: 58px;
}

.sorting {
  width: 100%;
  min-height: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  box-sizing: border-box;
}

.sorting::after {
  display: table;
  content: "";
  clear: both;
}

.sorting-heading {
  float: left;
  width: 160px;
  margin-right: 40px;
}

.sorting-activity {
  float: left;
  width: 472px;
  text-align: right;
}

.sorting-icon {
  float: right;
  max-width: 60px;
}

.sorting h4,
.sorting a,
.sorting span {
  display: inline-block;
  vertical-align: bottom;
}

.sorting h4 {
  margin: 0;
  margin-right: 267px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.sorting a {
  margin-left: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  text-decoration: none;
}

a.activity-2 {
  margin-left: 21px;
}

.activity-2,
.activity-3 {
  color: rgba(0, 0, 0, 0.3);
}

.activity-2:hover,
.activity-3:hover {
  color: rgba(0, 0, 0, 0.6);
}

.activity-2:active,
.activity-3:active {
  color: rgba(0, 0, 0, 1);
}

.sorting span {
  content: "";
  width: 9px;
  height: 9px;
  margin-bottom: 3px;
  cursor: pointer;
}

.sorting .icon-1 {
  background: url("../img/sprite.png") no-repeat;
  background-position: -30px -281px;
}

.sorting .icon-2 {
  margin-left: 17px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -99px -281px;
  opacity: 0.2;
}

.sorting .icon-1:hover,
.sorting .icon-2:hover {
  opacity: 0.4;
}

.sorting .icon-1:active,
.sorting .icon-2:active {
  opacity: 1;
}

/*========================catalog-list==========================*/

.catalog-list {
  font-size: 0;
}

/*---------------------------------*/

.catalog-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 360px;
  margin-right: 40px;
  margin-top: 37px;
  padding-top: 40px;
  background-color: #e9e9e9;
  box-sizing: border-box;
}

.catalog-item::after {
  position: absolute;
  top: 0px;
  left: 1px;
  z-index: 10;
  display: block;
  content: "";
  width: 358px;
  height: 41px;
  border-radius: 2px 2px 0 0;
  background-color: #e9e9e9;
  transition: background-color .3s linear;
}

.catalog-item::before {
  position: absolute;
  top: 14px;
  left: 16px;
  z-index: 100;
  display: block;
  content: "";
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 23px 0 0 0 #ffffff, 46px 0 0 0 #ffffff;
}

.catalog-item-img img {
  width: 360px;
  height: 576px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item:hover {
  background-color: #e5e5e5;
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-item:hover::after {
  background-color: #4d4d4d;
}

.catalog-item-description {
  position: absolute;
  bottom: 0px;
  left: 1px;
  display: block;
  width: 358px;
  padding-left: 66px;
  padding-right: 66px;
  padding-top: 30px;
  padding-bottom: 107px;
  background-color: #eeeeee;
  opacity: 0;
  text-align: center;
  box-sizing: border-box;
  transition: opacity .5s linear;
}

.catalog-item-description a {
  font: 700 18px/24px "Roboto", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-item-description p {
  overflow: hidden;
  margin-top: 18px;
  font: 400 16px/18px "Roboto", "Arial", sans-serif;
  color: #666666;
}

.catalog-item-buy {
  position: absolute;
  left: 79px;
  bottom: 43px;
  display: block;
  width: 200px;
  font: 500 16px/18px "Roboto", "Arial", sans-serif;
}

.catalog-item-buy:active {
  color: #ffffff;
}

.catalog-item:hover .catalog-item-description {
  opacity: 1;
}

/*===========================paginator=====================*/

.paginator {
  clear: both;
  width: 100%;
  margin-top: 61px;
  margin-bottom: 60px;
  font-size: 0;
  box-sizing: border-box;
}

.paginator a {
  margin-right: 12px;
  padding-right: 20px;
  padding-left: 20px;
  color: #000000;
  background-color: #eeeeee;
}

.paginator .disabled {
  padding-top: 13px;
  padding-right: 17px;
  padding-left: 17px;
  padding-bottom: 13px;
  border: 3px solid #dbdbdb;
  background-color: #ffffff;
}

.paginator .next {
  padding-right: 78px;
  padding-left: 78px;
}

.paginator .current:hover,
.paginator .next:hover {
  background-color: #dfdfdf;
}

.paginator .current:active,
.paginator .next:active {
  border-top-color: #bfbfbf;
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.paginator .disabled:active {
  color: #000000;
}

/*------------------------------------------*/
.paginator .disabled:active {
  color: green;
}
